.container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}

.container > h1 {
    font-family: Arial, serif;
    font-size: 3em;
    margin: 1.5rem;
}

.createPassword {
    margin-top: 10vh;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.createPassword > input {
    height: 4rem;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f0f0f0;
    font-size: 1.5em;
    font-family: "Comic Sans MS", serif !important;
}

.createPassword input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling when hovering over the input */
.createPassword input:hover {
    background-color: #e0e0e0;
}

.createPassword button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 3rem;
    padding: 1rem;
    border: 3px solid black;
    transition: all .5s ease-in-out;
    background: white;
    font-family: "Comic Sans MS", serif !important;
}

.createPassword button:hover {
    color: white;
    background: black;
    cursor: pointer;
}

.psList {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}

.password {
    text-align: center;
    border: 3px solid black;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.password img {
    height: 2rem;
    width: 2rem;
}

.password img:hover {
    cursor: pointer;
}

.description, .password {
    font-family: "Comic Sans MS", serif !important;
    padding: .75rem;
    font-size: 1.2em;
    text-align: center;
}

.description {
    margin-right: 4rem;
}

.ps {
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
    border: none;
    transition: all .1s ease;
    outline: none;
    padding: 1rem;
    user-select: none;
}

.ps:hover {
    border-inline: 3px solid teal;
    cursor: pointer;
}

